@font-face {
  font-family: 'CircularStd-Black';
  src: url('CircularStd-Black.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('CircularStd-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html, body, .container {
    /*font-family: 'CircularStd-Black';*/
    height: 100%;
    /*line-height: 0.001;*/ /* Not sure why but this muffed everything up*/
}

body {
    font-family: 'CircularStd-Black';
    font-size: 200%;
    overflow-x: hidden;
}

@media only screen and (min-width: 600px) {
    body {
        font-family: 'CircularStd-Black';
        font-size: 400%;
        overflow-x: hidden;
    }
} 

p {
    text-align: center;
    text-shadow: 0px 0px rgba(255, 255, 255, 1);
}

a {
    text-decoration: none;
    text-shadow: 0px 0px rgba(255, 255, 255, 1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    font-size: 50%;
}

.bottom {
    font-size: 150%;
    margin-top: 10%;
}

.info {
    font-size: 25%;
    margin-top: 10%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.gradient {
/*    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -webkit-background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -moz-background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -o-background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    -ms-background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);*/
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
}